h1 {
	color: #000000;
	text-align: center;
	border: 2pt dashed #CCCCCC;
	font-family: "Monotype Corsiva", "Times New Roman", Arial;
	font-size: 46pt;
}
h2 {
	text-align: right;
	font-family: "Monotype Corsiva", "Times New Roman", Arial;
	font-size: 18px;
}
a {
	text-decoration: none;
	cursor: default;

}
a:hover {
	color: #FF0000;
}
h4 {
	font-size: 16px;
	color: #009900;
}
dir {
	font-weight: bold;
	color: #3366CC;
	font-size: 16px;
}
ul {
	font-weight: normal;
	color: #000000;
	font-size: 16px;
}
body {
	cursor: default;
}
